*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.overlay{
  background-color: rgb(0, 0, 0, .2);
  height: 100%;
}

/* HEADER */

header .nav{
  margin-bottom: 10px;
}

div.logo{
  padding-bottom: 20px;
}

ul li{
  list-style: none;
  display: inline-block;
  padding-right: 25px;
  font-size: 15px;
  text-transform: uppercase;
}

ul li a:hover{
  text-decoration: underline;
}

ul li a{
  text-decoration: none;
  color: #c6c6c6;
}

header .header-down{
  background-image: url(../img/banner.jpg);
  background-size:cover;
  background-position: center;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.header-down h3,p{
  width: 50%;
}

div.text{
  color: white;
  padding-top: 25%;
  padding-left: 90px;
  font-size: 20px;
}


/* MAIN */
.corpo-centrale {
  padding-top:10px;
  padding-bottom: 10px;
}

section.top{
  padding: 15px 0;
}

aside.col.col-left{
  width: 25%;
  float: left;
}

div.img-sx{
  background-image: url(../img/img-1.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

section.center{
  
  width: 50%;
  padding: 0 1%;
  float: left;
}

div.img-centro{
  background-image: url(../img/banner-2.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}


aside.col.col-right{
  width: 25%;
  float: left;
}

div.img-dx{
  background-image: url(../img/img-3.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.corpo-centrale p{
  width: 100%;
}

/* FOOTER */

footer{
  background-color: #8801fe;
  height: 50px;
  margin-top: 10px;
}